doctype html
html(lang="en")
	head
		title React Starter Kit - by Coderbox
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		block meta
			meta(charset='utf8')
			meta(name="title", content="React Starter Kit")
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
			meta(name="application", content="Coderbox")

		block fonts
			link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext')
			link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

		block css
			link(rel='stylesheet', href='/bundle.css')
		
	body
		div#app
		
		block scripts
			script(src='vendors.js')
			script(src='bundle.js')